* {
    font-family: 'Montserrat', sans-serif;
}
.navbar.navbar-expand-lg.bg-body-tertiary{
    background: linear-gradient(45deg, rgb(189, 213, 239), rgb(65, 121, 217), rgb(41, 41, 149), rgb(47, 66, 150));
    padding: 30px;
}

.navbar-brand {
    color: rgb(229, 255, 0) !important;
    font-weight: 600 !important;
    letter-spacing: 0.1em;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        margin-left: 100%;
        width: 300%;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}


.headerInicio{
    text-align: center;
    color: rgb(229, 255, 0) !important;
    background-image: url(./img/fondo-bienvenida.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: black;
    opacity: 1.9;
  }

  .headerInicio h1{
    font-size: 120px;
    padding-top: 180px;
    animation: 2s;
    animation-name: aparecer;
    font-weight: 800;
    letter-spacing: 0.1em;
  }

  .headerInicio h3 {
    color: rgb(234, 255, 0);
    font-size: 50px;
    font-style: italic;
  }

.cajasGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blueviolet;
    border: 0.5px solid rgb(229,229,229);
}

.caja{
/*     width: 150px;
    height: 150px; */
    border: 0.5px solid rgb(229, 229, 229);
    gap: 20px;
    background-color:white;
/*     margin: 15px; */
    text-align: center;
/*     line-height: 30px; */

}

.tituloH2 {
    color: rgb(229, 255, 0);
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    animation: 2s;
    animation-name: aparecer;
}

.webSection{
    background-color: rgb(65, 121, 217);
    padding: 50px;
}

.componentes img{
margin-left: 25%;
}

footer{
    background: linear-gradient(45deg,  rgb(47, 66, 150), rgb(41, 41, 149), rgb(65, 121, 217), rgb(189, 213, 239));
    padding: 30px;
}

footer p {
    color: white;
}
